# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

format = '''
$os$directory$python$conda$c$cmake$git_branch$gitstatus$git_commit$git_state$ocaml$rust
$character'''

# Inserts a blank line between shell prompts
add_newline = true

# Wait 10 milliseconds for starship to check files under the current directory.
scan_timeout = 100

# Replace the '❯' symbol in the prompt with '➜'
[character] # The name of the module we are configuring is 'character'
success_symbol = '[λ](bold green)' # The 'success_symbol' segment is being set to '➜' with the color 'bold green'
error_symbol = '[λ](bold red)'

[os]
format = "[$symbol]($style) "
style = "bold blue"
disabled = false

# [directory]
# fish_style_pwd_dir_length = 2

[directory.substitutions]
'/mnt/c' = 'C:'
'/mnt/d' = 'D:'
'/mnt/e' = 'E:'

[os.symbols]
Windows = " "
Arch = " "
