[init]
	defaultBranch = main
[core]
	filemode = false
	quotepath = false
[safe]
	directory = /mnt/c/Users/zion/AppData/Roaming/Rime
	directory = /mnt/e/Obsidian/
	directory = /mnt/d/AppData/oxa-server
[user]
	name = Zion Pu
	email = pu.007@qq.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[push]
	autoSetupRemote = true
