[init]
	defaultBranch = main
[core]
	filemode = false
[user]
	name = Zion Pu
	email = pu.007@qq.com
[core]
	editor = \"C:\\Users\\pu\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[credential]
	helper = manager
[safe]
	directory = //192.168.100.1/Passport/Obsidian
[credential "http://192.168.100.1:3001"]
	provider = generic
[credential "http://192.168.100.1:3000"]
	provider = generic
